html{ height: 100%; }

body {
	height: 100%;
	display: table;
	width: 100%;
	background: url(../img/bckgrnd.png) repeat;
	/* font: normal 1em 'fira_sanslight'; */
	font-family: "fira_sansbook", sans-serif;
	color: #4a545d;
}

.left{
	float: left;
}

.right{
float: right;
}


/*Основной блок*/
/*Левый блок*/

.side-bar{
	width: 250px;
}

.navigation{
	overflow: hidden;
	background: #eff3f7;
	list-style: none;
	border-radius: 4px;
	margin: 0;
	padding: 0;
	margin-bottom: 28px;
}
.navigation .navigation-item {
	margin: 0 11px;
	border-top: 2px solid #3ba8c0;
}
.navigation .navigation-item:first-child {
	border-top: none;
}
.navigation .current {
	margin: 0;
	border-bottom: none;
	padding-left: 11px;
	margin-bottom: -2px;
	background: #3ba8c0;
}
.navigation .current .nav-link {color: #fff;}
.navigation-item.current .nav-link:hover {color: #fff;}
.navigation-item .nav-link {
	display: block;
	font: 21px/21px 'fira_sansbook';
	color: #959aa8;
	padding: 25px 0;
	margin-left: 18px;
}
.navigation-item .nav-link:hover {color: #3ba8c0;}



a{
	text-decoration: none;
}

.contacts{
	clear:both;
	width: 250px;
	list-style: none;
	margin-top: 25px;
	padding-left: 0;
}

.left-column:after {
  content: " ";
  clear: both;
  display: table;
}
.contacts li{

	padding: 8px 18px;
	color: white;
}
.contacts li a{
		display: block;
	padding-left: 65px;
	color: white;
	text-decoration: none;
}


.cont-name{
	padding: 2px 18px !important;
	font-size: 24px;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	background: #3ba8c0;
}

.email{
	background: #41b9d4;

}

.email:before{
	position: absolute;
	padding-top: 3px;
	padding-left: 25px;
	content: url(../img/email.png);
	display: inline-block;

}


.phone{
	background: #48cbe8;

}


.phone:before{
	position: absolute;
	padding-top: 3px;
	padding-left: 25px;
	content: url(../img/phone.png);
	display: inline-block;
}



.skype{
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
	background: #51daf8;
}



.skype:before{
	position: absolute;
	padding-top: 3px;
	padding-left: 25px;
	content: url(../img/skype.png);
	display: inline-block;
}

/*Левый блок конец*/
/* Блок с данными профиля*/

.clearfix:before, .clearfix:after{
	content: " ";
	display: table;
}

.clearfix:after{
	clear: both;
}

.about-content{
	width: 650px;
	float: right;
}

.info-block{
	padding-bottom: 15px;
	background: #eff3f7;
	border-radius: 4px;
	margin-bottom: 25px;
}


.title-header{
	font-family: 'fira_sanslight';
	font-size: 27px;
	font-weight: normal;
	color: #3ba8c0;
	border-bottom: 2px #3ba8c0 solid;
	margin: 0 0 0 0;
	display: inline-block;
	padding: 13px 22px ;
}

.sheet-info-list{
	list-style: none;
}

.sheet-info-item{
	padding-left: 19px;
}


/*Аватар*/	
.wrap-avatar{
	margin-left: 54px;
	margin-top: 17px;
	width: 142px;
	height: 142px;
	border-radius: 50% 50%;
	overflow: hidden;
	border: 5px solid #3ba8c0;
	float:left;
}
.pic-avatar{
width: 100%;
}
.profile-list{
	list-style: none;
}

.profile-list .profile-item{
	margin-left: 191px;
	margin-bottom: 9px;
}
.profile-list .profile-item div{
	display: inline-block;
}
.profile-list .value-info{
	margin-left: 25px;
	max-width: 250px;
}
.sheet-info-item .value-info p{
	margin: 0;
	padding:0;
}
.skill{
	margin-top: 1px;
	margin-left: -9px!important;
}

.title-info{
	font-weight: bold;
	vertical-align: top;
}

.skill-list .skill-item{
	font-size: 14px;
  	font-family: "ProximaNovaCond";
	display: inline-block;
	list-style: none;
	text-align: center;
	margin-bottom: 8px;
	padding: 2px 13px;
	margin-right: 3px;
	border-radius: 4px;
	color: white;
	background: rgb(59,168,192);
	background: -moz-linear-gradient(top,  rgb(59,168,192) 0%, rgb(59,168,192) 50%, rgb(46,140,162) 51%, rgb(46,140,162) 100%);
	background: -webkit-linear-gradient(top,  rgb(59,168,192) 0%,rgb(59,168,192) 50%,rgb(46,140,162) 51%,rgb(46,140,162) 100%);
	background: linear-gradient(to bottom,  rgb(59,168,192) 0%,rgb(59,168,192) 50%,rgb(46,140,162) 51%,rgb(46,140,162) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ba8c0', endColorstr='#2e8ca2',GradientType=0 );
}


.sheet-info-item.bags:before{
	display: block;
	content: url(../img/bags.png);
	width: 50px;
	height: 40px;
	position: absolute;
	padding-top: 5px;
}

.sheet-info-item.diplom:before{
	display: block;
	content: url(../img/diplom.png);
	width: 50px;
	height: 40px;
	position: absolute;
	padding-top: 5px;
}

.sheet-info-item .value-info{
    padding-left: 66px;
    margin-bottom: 18px;
}


/*.title-image{
	vertical-align: top;
	margin-left: 19px;
	margin-top: 10px;
	width: 50px;
	height: 40px;
	margin-right: 30px;
	
}
.bags{
	background: url(../img/bags.png) no-repeat;
}

.diplom{
	background: url(../img/diplom.png) no-repeat;
}*/

/*Футер*/

.page-footer{
	background: #eff3f7;
}

.page-footer .container{

	padding-top: 23px;
	position: relative;
}
.page-footer .copyright{
	margin: 0 180px;
	padding-top: 7px;
	text-align: center;
	font-size: 13px;
} 

.page-footer .lock{
	position: absolute;
	top: 26px;
	left: 20px;
}

.lock .lock-inner{
	display: block;
	height: 40px;
	font-family: 'fira_sanslight';
	color: #4a545d;
	font-size: 16px;
	text-decoration: none;
	background: url(../img/login.png) no-repeat;
	padding-left: 24px;
}

.lock .lock-inner:hover{
	text-decoration: underline;
	background: url(../img/login-open.png) no-repeat;
}

/*Прибиваем футер к низу*/
.wrapper{
	overflow: hidden;
	position: relative;
	min-height: 100%;
	min-width: 970px;
	height: auto !important;
}
.wrapper:after{
	content: "";
	height: 80px;
	display: block;
}

.page-footer{
	height: 80px;
	margin-top: -80px;
}
.grid-line{

	width: 100%;
	height:3px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e7eff3+1,e7eff3+15,1d677a+52,e7eff3+85,e7eff3+100 */
background: rgb(231,239,243); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(231,239,243,1) 1%, rgba(231,239,243,1) 15%, rgba(29,103,122,1) 52%, rgba(231,239,243,1) 85%, rgba(231,239,243,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(231,239,243,1) 1%,rgba(231,239,243,1) 15%,rgba(29,103,122,1) 52%,rgba(231,239,243,1) 85%,rgba(231,239,243,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(231,239,243,1) 1%,rgba(231,239,243,1) 15%,rgba(29,103,122,1) 52%,rgba(231,239,243,1) 85%,rgba(231,239,243,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7eff3', endColorstr='#e7eff3',GradientType=1 ); /* IE6-9 */

}



/*Прибиваем футер к низу конец*/

/*Общие*/
.container{
	width: 960px;
	margin: 0 auto;
}

   .no-valide{
        background: rgba(243, 63, 7, 0.45)!important;
        border: solid 1px #f97e76 !important;
   }


